// COLOR VARIABLES
$color-primary-light: #e4f3ea;
$color-primary-dark: #439153;

$color-secondary: #e6e6e6;
$color-secondary-light:#f3f3f3;

$color-grey-dark: #8e8987;
$color-font: #999999;
$color-font-dark:#696969;
$color-font-light:#b5b5b5;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

html{
    box-sizing:border-box;
    font-size: 62.5%; // 10px/16px = 62.5% So 1rem = 10px

}
body{
    font-family: $font-primary;
    color: $color-font-dark;
    font-weight: 300;
    line-height: 1.3;
    font-size: .8rem;
    background-image: url("../img/main_bg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

*,
*::before,
*::after {
    padding:0;
    margin:0;
    box-sizing: inherit;
}

.container{
    display: flex;
    flex-direction: column;
    &__item {
        
        font-family: sans-serif;
        // letter-spacing: 2px;
      }
}
.main{
    width:80%;
    height: 1000px;
    align-self: center;
}