.u-margin-bottom-sm{
    margin-bottom: 1rem;
}

.u-margin-bottom-md{
    margin-bottom: 1.2rem;
}


.u-margin-bottom-lg{
    margin-bottom: 5.5rem;
}

.u-margin-left{
    margin-left: 1.5rem;
}

.u-text-green{
    color: $color-primary-dark;
}